<% content_for :title do %>
  <%= @organization %>: <%= t 'models.organization.users' %>
<% end %>

<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <h1><%= @organization.title %>: <%= t 'models.organization.users' %></h1>
    <div class="col-sm-12" style="background-color:#63c0de"></div>
  </div>
  <div class="col-sm-3"></div>
</div>
<div class="row"><p></p></div>
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <table class="table table-striped">
      <tr>
        <th><%= t 'models.user.name' %></th>
        <th><%= t 'models.post.status'%></th>
      </tr>
      <% @users.each do |user| %>
         <tr>
           <td><%= link_to user.name, organization_user_path(@organization, user) %></td>
           <td> <%= user.active ? "active" : "inactive" %> </td>
         </tr>
      <% end %>
    </table>
    <%= paginate @users, window: 2%>
  </div>
  <div class="col-sm-3"></div>
</div>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-8">
    <div class="col-sm-1"></div>
    <div class="col-sm-11"><%= button_to new_organization_user_path(@organization), method: "get", class: "btn btn-info" do%>
        <%= t :'models.user.create_user' %>
      <%end %>
    </div>
  </div>
</div>
