<% content_for :title do %>
  <%= Organization.find(params[:organization_id]).title %>
<% end %>

<div class="row">

  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <h1><%= Organization.find(params[:organization_id]).title %></h1>
    <div class="col-sm-12" style="background-color:#63c0de"></div>
  </div>
  <div class="col-sm-3"></div>
</div>
<div class="row"><p></p></div>
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <div class="col-sm-9">
      <h2><%= @user.name %></h2>
    </div>
    <div class="col-sm-3">
      <div class="row">
      <h3>Status: <%if @user.active %>
          active
        <%else %>
          inactive
        <%end %>
      </h3>
          <%=button_to  organization_user_path, method: :put, class: "btn btn-info" , params: { button: {active: !@user.active} } do%>
            <%if @user.active %>
              Deactivate

            <%else %>
              Activate

            <%end %>
          <%end %>
          </p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
  </div>

</div>

<div class="row">
  <div class="col-sm-3"></div>
<div class="col-sm-6">
  <h3>Posts: </h3></div>
</div>

<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <%= render partial: "posts/post", locals: {post_status: @posts} %>
    <%= paginate @posts, window: 2%>

  </div>
  <div class="col-sm-3">
  </div>

</div>


<div class="row">
  <div class="col-sm-5"></div>

  <div class="col-sm-7">
    <div class="col-sm-1"></div>
    <div class="col-sm-11"><%= button_to "https://google.com", method: "get", class: "btn btn-info" do%>
        Create user
      <%end %></div>
  </div>
</div>
</div>
