<%= form_tag(organization_posts_path(organization), method: "get") do %>
  <p>
    <%= check_box_tag(:status, :active) %>
    <%= label_tag(:active, "active") %>
  </p>
  <p>
    <%= check_box_tag(:status, :inactive) %>
    <%= label_tag(:inactive, "inactive") %>
  </p>
  <p>
    <%= check_box_tag(:status, :under_review) %>
    <%= label_tag(:under_review, "under_review") %>
  </p>
  <p>
    <%= check_box_tag(:status, :archived) %>
    <%= label_tag(:archived, "archived") %>
  </p>
  <p>
    <div class="col-sm-1"><%= button_to organization_posts_path(organization), method: "get", class: "btn btn-info" do%>
        <%= t 'models.organization.filter' %>
      <%end %>
    </div>
  </p>
<%end%>
