<%= bootstrap_form_with model: post, url: my_url, local: true do |form| %>
  <% name = @default_name%>
  <%if post.user%>
    <% name = post.user.id%>
  <%end %>
  <% status = @default_status%>
  <%if post.status%>
    <% status = post.status %>
  <% end %>

  <p>
    <%= form.collection_select(:user_id, users, :id, :name, label: t('models.user.name'), :selected => name)%>
  </p>

  <p>
    <%= form.text_area :content, label: t('models.post.content')%>
  </p>

  <p>
    <%= form.collection_select(:status, Post.statuses, :first, :first, label: t('models.post.status'), :selected => status)%>
  </p>

  <p>
    <%= form.submit class: "btn btn-info", label: "OK"%>
  </p>
<% end %>