<%= bootstrap_form_with model: post, url: my_url, local: true do |form| %>
  <%defoult_name = Organization.find(params[:organization_id]).users.first%>
  <%defoult_status = Post.statuses.first%>
  <%unless post.user.nil?%>
    <%defoult_name = post.user.id%>
  <%end %>
  <%if Post.active.include? post %>
    <% defoult_status = :active%>
  <%end %>
  <%if Post.inactive.include? post%>
    <% defoult_status = :inactive%>
  <%end %>
  <%if Post.under_review.include? post%>
    <% defoult_status = :under_review%>
  <%end %>
  <%if Post.archived.include? post%>
    <% defoult_status = :archived%>
  <%end %>
  <p>
    <%= form.collection_select(:user_id, users, :id, :name, :selected => defoult_name)%>
  </p>

  <p>
    <%= form.text_area :content, label: t(:content)%>
  </p>

  <p>
    <%= form.collection_select(:status, Post.statuses, :first, :first, label: t(:status), :selected => defoult_status)%>
  </p>

  <p>
    <%= form.submit class: "btn btn-info", label: "OK"%>
  </p>
<% end %>