<% content_for :title do %>
  <%= @organization.title %>
<% end %>

<div class="row">

  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <h1><%= @organization.title %>: <%= t :update_post%></h1>
  </div>
  <div class="col-sm-3"></div>
</div>
<div class="row"><p></p></div>
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <%= render partial: "form", locals: {my_url: organization_post_url, post: @post, users: @organization.users} %>
  </div>
  <div class="col-sm-3">
    <%= button_to 'Destroy', organization_post_path(@organization, @post),
                  method: :delete,
                  data: { confirm: 'Are you sure?' }, class:  "btn btn-danger"%>
  </div>
</div>