<% content_for :title do %>
  <%= @organization.title %>
<% end %>

<div class="row">
  <div class="col-sm-2">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-9">
        <h3>Status</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-9">
        <%= render 'posts/filter' %>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-8">
        <h1> <%= @organization.title%></h1>
      </div>
      <div class="col-sm-2"></div>
    </div>
    <div class="row">
      <div class="col-sm-10">
        <%= render partial: "post", locals: {post_status: @post_status} %>
      </div>

    </div>
  </div>
  <div class="col-sm-2">
    <div class="col-sm-1"><%= button_to new_organization_post_path(@organization), method: "get", class: "btn btn-info" do%>
        <%= t 'models.post.create_pots'%>
      <%end %></div>
  </div>
</div>