<% content_for :title do %>
  <%= Organization.find(params[:organization_id]).title %>
<% end %>

<% @organization = Organization.find(params[:organization_id]) %>

<div class="row">
  <div class="col-sm-2">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-9">
        <h3>Status</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-9">
        <%= render 'posts/filter' %>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-8">
        <h1> <%= @organization.title%></h1>
      </div>
      <div class="col-sm-2"></div>
    </div>
    <div class="row">
      <div class="col-sm-10">
        <%@post_status = @posts.active %>
        <%if params[:active]%>
          <% @post_status = @posts.active%>
        <%end %>
        <%if params[:inactive]%>
          <% @post_status = @posts.inactive%>
        <%end %>
        <%if params[:under_review]%>
          <% @post_status = @posts.under_review%>
        <%end %>
        <%if params[:archived]%>
          <% @post_status = @posts.archived%>
        <%end %>
        <%= render partial: "post", locals: {post_status: @post_status} %>
      </div>

    </div>
  </div>
  <div class="col-sm-2">
    <div class="col-sm-1"><%= button_to new_organization_post_path(@organization), method: "get", class: "btn btn-info" do%>
        <%= t :create_pots%>
      <%end %></div>
  </div>
</div>